*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    font-size: 50px;
    font-style: italic;
    background-color: black;
    color: orange;
    border-radius: 20px;
    margin: 20px;
    padding:30px;

}
section{
    font-size: 20px;
    font-style: normal;
    background-color: black;
    color: orange;
    border-radius: 20px;
    margin: 20px;
    padding:30px;
}
button{
    background-color:orange;
    color: black;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    font-style: normal;
   }
   p{
    background-color:aqua;
    color: black;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
 }