*{
    text-align: center;
}
section{
 background-color: aqua;
 color: black;
 padding: 20px;
 margin: 10px;
}
h2{
margin: auto;
padding: 20px;
border: 2rem solid #000;
border-radius: 20px;
}
input{
    background-color: rgb(0, 0, 0);
    color: rgb(7, 255, 255);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
p{
    background-color: rgb(255, 0, 0);
    color: rgb(7, 255, 255);
    border-radius: 20px;
    margin: 10px;
    padding: 1rem;
}
img{
    margin: 20px;
}